body{
    padding: 50px;
    background-color: #000000
 }
 
 .container{
    max-width: 500px;
    padding: 50px;
    box-shadow: #fc0000 0px 7px 29px 0px;
    color: rgb(255, 0, 0);
    background-color: #ffffff
 }
 
 
 .logo{
    float: inherit;
    height: 200px;
    width: 200px;
 }
 
 #here{
   width: 200px;
   height: 20px;
   border: 1px solid black;
 }

#reg{
   text-align: center;
   
}

#reg{
   font-family: Georgia, 'Times New Roman', Times, serif;
}

#stock{
   float: right;
}