body{
   padding: 30px;
   background-color: #000000
}

.container{
   max-width: 500px;
   padding: 20px;
   box-shadow: #fc0000 0px 7px 29px 0px;
   color: rgb(255, 0, 0);
   background-color: #ffffff
}

.form-group{
   margin-bottom: 20px;
   border: solid black 1px;
}

#reg{
   text-align: center;
   
}

#reg{
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo{
   float: inherit;
   height: 200px;
   width: 200px;
}
